global
    maxconn 256

defaults
    mode tcp
    timeout connect 5s
    timeout client 60s
    timeout server 60s

frontend skeg_tls
    bind :6380 ssl crt /etc/haproxy/tls/skeg.pem ssl-min-ver TLSv1.2
    maxconn 128
    default_backend skeg_local

backend skeg_local
    server skeg 127.0.0.1:6379 check maxconn 128
